[data-element-type]:not([data-element-type-processed]) {
  visibility: hidden;
}

[data-element-type="search_input-default"] {
  text-align: center;
  position: relative;
}

[data-element-type="search_input-default"] input {
  border: 1px solid #ccc;
  border-radius: 9999px;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333;
}

[data-element-type="search_input-default"] input:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

[data-element-type="search_input-default"] input::placeholder {
  color: #888;
}

[data-element-type="search_input-default"] input:hover {
  border-color: #0078b8;
}
/* logo on the right side of the input */
[data-element-type="search_input-default"] img {
  position: absolute;
  right: 1rem;
  width: 0.85rem;
  height: 0.85rem;
  z-index: 1;
  cursor: pointer;
  top: calc(50% - 0.425rem);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%)
    contrast(100%);
}
[data-element-type="search_input-default"] img + img {
  right: 2.5rem;
}
