[data-element-type]:not([data-element-type-processed]) {
  visibility: hidden;
}

[data-element-type="summary"] {
  display: block;
}
[data-element-type="summary"] .summary {
  display: flex;
  padding: 0.5rem 0;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: #666;
}
