[data-element-type]:not([data-element-type-processed]) {
  visibility: hidden;
}

[data-element-type^="wrapper-"] {
  display: block;
  width: 100%;
}
[data-element-type^="wrapper-"] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 0.25rem;
}

[data-element-type^="wrapper-"][orientation="horizontal"] {
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}

[data-element-type^="wrapper-"][mode="grid"] {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}
@media (min-width: 768px) {
  [data-element-type^="wrapper-"][mode="grid"] {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  [data-element-type^="wrapper-"][mode="grid"][columns="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  [data-element-type^="wrapper-"][mode="grid"][columns="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
  [data-element-type^="wrapper-"][mode="grid"][columns="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
  [data-element-type^="wrapper-"][mode="grid"][columns="5"] {
    grid-template-columns: repeat(5, 1fr);
  }
  [data-element-type^="wrapper-"][mode="grid"][columns="6"] {
    grid-template-columns: repeat(6, 1fr);
  }
}

[data-element-type^="wrapper-"][mode="list"] {
  display: flex;
  flex-direction: column;
}

[data-element-type^="wrapper-"] .loading {
  display: block;
  grid-column: 1 / -1;
  color: #000;
}

[data-element-type^="wrapper-"][loading] {
  opacity: 0.5;
}

[data-element-type^="wrapper-"] .label {
  display: block;
}

[data-element-type^="wrapper-"] .reset {
  display: block;
  width: fit-content;
}

[data-element-type^="wrapper-"][mode="grid"] .reset {
  grid-column: 1 / -1;
}

[data-element-type^="wrapper-"][mode="list"] .reset {
  align-self: flex-end;
}

[data-element-type^="wrapper-"] button.reset {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
[data-element-type^="wrapper-"] button.reset:hover {
  text-decoration: underline;
}