[data-element-type]:not([data-element-type-processed]) {
  visibility: hidden;
}

[data-element-type="search_result_custom"] {
  display: block;
  width: 100%;
}

[data-element-type="search_result_custom"] .container {
  container-name: wrapper;
  container-type: inline-size;
  padding: 0.5rem;
  border-radius: 10px;
}
[data-element-type="search_result_custom"] .container:hover {
  background-color: #f5f5f5;
}

[data-element-type="search_result_custom"] .result {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
}
[data-element-type="search_result_custom"] .result__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #333;
}
[data-element-type="search_result_custom"] .result__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
[data-element-type="search_result_custom"] .result__category {
  font-size: 0.75rem;
  color: #0078b8;
  font-weight: bold;
}
[data-element-type="search_result_custom"] .result__date {
  font-size: 0.75rem;
  color: #333;
  font-weight: bold;
}
[data-element-type="search_result_custom"] .result__title {
  font-size: 1.5rem;
  font-weight: bold;
}
[data-element-type="search_result_custom"] .result__excerpt {
  font-size: 1rem;
}
[data-element-type="search_result_custom"] .result__image {
  width: 300px;
  height: 200px;
}
[data-element-type="search_result_custom"] .result__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@container wrapper (min-width: 0px) {
  [data-element-type="search_result_custom"] .result {
    flex-direction: column;
  }
  [data-element-type="search_result_custom"] .result__image {
    width: 100%;
    height: 200px;
  }
}
@container wrapper (min-width: 768px) {
  [data-element-type="search_result_custom"] .result {
    flex-direction: row;
  }
  [data-element-type="search_result_custom"] .result__image {
    width: 300px;
    height: 200px;
  }
}
