[data-element-type]:not([data-element-type-processed]) {
  visibility: hidden;
}

[data-element-type^="facet-"] {
  display: inline;
  width: fit-content;
  border-radius: 9999px;
  background-color: #f5f5f5;
  color: #333;
  padding: 0.25rem 1rem;
  font-size: 0.75rem;
  cursor: pointer;
}

[data-element-type^="facet-"] .chip {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

[data-element-type^="facet-"]:hover {
  background-color: #0078b8;
  color: #f5f5f5;
}

[data-element-type^="facet-"].label {
  margin-right: 0.5rem;
}

[data-element-type^="facet-"][active] {
  background-color: #0078b8;
  color: #f5f5f5;
  font-weight: bold;
}

[data-element-type^="facet-"] img {
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.5rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}
