[data-element-type]:not([data-element-type-processed]) {
  visibility: hidden;
}

[data-element-type="pager-full"] {
  text-align: center;
}

[data-element-type="pager-full"] .pager {
  display: inline-flex;
}

[data-element-type="pager-full"] button {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  height: 2.5em;
  width: 2.5em;
  padding: 0.75em;

  margin: 0 0.25em;
  border-radius: 9999px;
  color: #000;
  background-color: #f3f3f3;
  transition: background-color 0.25s;
}

[data-element-type="pager-full"] button:hover {
  background-color: #0078b8;
  color: #f5f5f5;
}

[data-element-type="pager-full"] button img {
  width: 1em;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%)
    contrast(100%);
}

[data-element-type="pager-full"] button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

[data-element-type="pager-full"] button.active {
  background-color: #0078b8;
  color: #f5f5f5;
  font-weight: bold;
}
